<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Note.css" />
    <title>Document</title>
</head>
<body>
    <header>
        <!-- Add note  -->
        <h1>Note app</h1>
        <input type="text" placeholder="Add a Note" class="form-control"/>
        <button class="btn btn-success">+</button>
         <!-- /Add note  -->

        <hr>
    </header>
      
    <div class="filter border w-50 mx-auto">
        <input type="text" placeholder="filter task by title" class="form-control" />
        <i class="fa fa-search" aria-hidden="true"></i>
    </div>

      <!-- liste note  -->
    <ul>
        <!-- Item note -->
        <li>
            <span>Note 1</span>
            <button class="btn btn-danger float-end">x</button>
        </li>
        <!-- /Item note  -->
    </ul>
    <!-- /liste note  -->
           
</body>
</html>