<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>Services</title>
</head>
<body>
    <%- include('navigation') %>
    <h2><%= message %></h2>
<div class="list_logements">
    <div>
        <img src="https://a0.muscache.com/im/pictures/2f13349d-879d-43c6-83e3-8e5679291d53.jpg?im_w=480" alt="" class="logement"/>
        <h3>Escapades en pleine nature</h3>
    </div>
    <div>
        <img src="https://a0.muscache.com/im/pictures/36f53e61-db8d-403c-9122-5b761c0e4264.jpg?im_w=480" alt="" class="logement"/>
        <h3>Logements uniques</h3>
    </div>
    <div>
        <img src="https://a0.muscache.com/im/pictures/7d82ca14-56e5-4465-8218-dcfa7d69b6ac.jpg?im_w=480" alt="" class="logement"/>
        <h3>Logements entiers</h3>
    </div>
</div>
</body>
</html>